.wrapper {
  backdrop-filter: blur(1rem) contrast(0.9);
}

.header {
  text-align: center;
  padding: 0.375rem 0;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--white-shadow);
}

.winter {
  color: var(--header-winter);
}

.spring {
  color: var(--header-spring);
}

.summer {
  color: var(--header-summer);
}

.autumn {
  color: var(--header-autumn);
}

@media (max-width: 575px) {
  .header {
    margin-bottom: 0;
  }
}
